<div class="jumbotron">
  <h1 class="display-4">Welcome !</h1>
  <p class="lead">
    This is a simple interface to track your journal entries.</p>
  <hr class="my-4">
  <p>A full secure scalable environment sits behind this open source application.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" [routerLink]="'journal'" role="button">Access the journal</a>
  </p>
</div>

<button type="button" class="btn btn-outline-primary" (click)="onPreLogin()">PRE LOGIN</button>
<button type="button" class="btn btn-outline-primary" (click)="onLogout()">LOGOUT</button>
